<!DOCTYPE html>
<html>

<head>
    <title>Elections Analysis</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Horse Crew Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="../../static/app/content/home/css/bootstraps.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../../static/app/content/home/css/styles.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="../../static/app/content/home/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <!-- //Fonts -->
    <style>
	ul 
	{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</style>
</head>

<body>
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="/party">Partywise Trends</a></li>
  <li><a href="/const">Constituency wise candidates</a></li>
  <li><a href="/trend">Trends</a></li>
</ul>
    <!-- banner -->
    <div class="banner_main">
        <div class="overlay-w3pvt">
            <div class="container">
                <div class="banner-info text-center">
                    <h5></h5>
                    <h3>
                        <br></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner bottom grids -->
    <!-- banner bottom grids -->
    <section class="content-info py-5" id="about">
        <div class="container py-md-5">
            <div class="info-w3pvt-mid text-center px-lg-5">

                <div class="title-desc text-center px-lg-5">
                    <h3 class="title-w3ls mb-4 text-center">Why voting is important?</h3>
                    <p class="px-lg-5">Voting is a basic process that keeps a nation's governmental system works. It enables the citizens to choose their own government. It also allows the people to choose their representatives in the government. The purpose of every government is to develop and implement various policies for the benefit of its citizens.</p>
                    <a class="btn mt-lg-4 mt-3 read scroll" href="#services" role="button">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner bottom grids -->
    <!-- banner bottom grids -->
    <section class="content-info" id="his">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 cont-inf-w3ls bg-yellow p-5">
                    <div class="inner-cont-inf-w3ls p-lg-5 p-3">
                        <h4> <span class="year">2019</span>Lok Sabha Election 2019</h4>
                        <p>Election 2019 Dates: Voting will be held across India in seven phases on April 11, April 18, April 23, April 29, May 6, May 12 and May 19. Lok Sabha election 2019 result will be out on May 23. </p>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-6 cont-img-w3ls p-lg-0">

                </div>
            </div>
        </div>
    </section>
    <!-- //banner bottom grids -->
    <!--/works -->
    <section class="work py-5" id="process">
        <div class="container py-md-5">
            <!--/start-work-grids-->
            <div class="serve-grids row py-md-5">
                <div class="col-lg-4 serve-grid">
                    <div class="row">
                        <div class="col-sm-4 serve-1 mt-2">
                            <img src="../../static/app/content/home/images/b1.jpg" alt="" class="img-fluid image1">
                        </div>
                        <div class="col-sm-8 work-info">
                            <h4>Partywise Trends</h4>
                            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 serve-grid mt-2">
                    <div class="row">
                        <div class="col-sm-4 serve-1">
                            <img src="../../static/app/content/home/images/b2.jpg" alt="" class="img-fluid image1">
                        </div>
                        <div class="col-sm-8 work-info">
                            <h4>Constituencywise Candidates</h4>
                            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 serve-grid mt-2">
                    <div class="row">
                        <div class="col-sm-4 serve-1">
                            <img src="../../static/app/content/home/images/b3.jpg" alt="" class="img-fluid image1">
                        </div>
                        <div class="col-sm-8 work-info">
                            <h4>Trends</h4>
                            <p>Lorem ipsum dolor sit,Nulla pellentesque dolor ipsum laoreet eleifend integer,Pellentesque maximus libero. </p>
                        </div>
                    </div>


                </div>

            </div>
            <!-- //End-work-grids-->
        </div>
    </section>
    <!-- //works-->

    <!-- banner bottom grids -->
   
    <!-- //banner bottom grids -->

    <!-- Gallery -->
    <section class="gallery py-5" id="gallery">
        <div class="container-fluid py-md-5">
            <div class="title-desc text-center">
                <h3 class="title-w3ls mb-5 mb-4 text-center">Our Team</h3>
            </div>
            <div class="row news-grids no-gutters text-center">
                <div class="col-md-3 gal-img">
                    <a href="#gal1"><img src="../../static/app/content/home/images/g1.jpg" alt="Gallery Image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal2"><img src="../../static/app/content/home/images/g2.jpg" alt="Gallery Image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal3"><img src="../../static/app/content/home/images/g3.jpg" alt="Gallery Image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal4"><img src="../../static/app/content/home/images/g4.jpg" alt="Gallery Image" class="img-fluid"></a>
                </div>
            </div>
            <!-- gallery popups -->
            <!-- popup-->
            <div id="gal1" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../static/app/content/home/images/g1.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal2" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../static/app/content/home/images/g2.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../static/app/content/home/images/g3.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup3 -->
            <!-- popup-->
            <div id="gal4" class="pop-overlay animate">
                <div class="popup">
                    <img src="../../static/app/content/home/images/g4.jpg" alt="Popup Image" class="img-fluid" />
                    <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->

            <!-- //gallery popups -->
        </div>
    </section>
    <!-- //gallery -->

   
    <!-- //blog -->
    <!--/testimonialals-->
    <section class="footer-content py-5" id="test">
        <div class="container py-md-5">
            <div class="test-info text-center">

                <span class="fa fa-quote-left"></span>
                <p class="my-4"> When I think of the right to vote, I can't help but think of how precious it is, and therefore why it's important to exercise that right. What do people think of when they think of "precious?" Often a diamond comes to mind. In this case, I played with the V and the O to create the ring that holds the precious diamond.</p>
                <h3 class="my-md-2 my-3">Democratic Voter</h3>
            </div>
        </div>
    </section>
    <!--//testimonialals-->


</body>

</html>
